// common classes
.button {
	color:#fff;
	background-color:$green-color;
	padding:10px 15px 10px 15px;
	border-radius:10px;
	text-decoration: none;
}
.button:hover{
	text-decoration:none;
	color:#fff;
}
.distance-text{
	padding:10px;
}
.distance {
	padding:25px;
}
.top-distance {
	margin-top:30px;
}