// base colors
$green-color:#76c38f;
$gray-color:#303030;
$dark-gray-color:#222222;
$base-gray-color:#313131;
$text-color:#979797;
$border-color:#6b6b6b;
$rgb-opacity-color:rgba(80, 80, 80, 0.7);
$text-color-2:#343434;